{% assign bundle = product.metafields.flo_product_bundle.product_bundle.value %}
<form id="bundle-form">
  <div class="flo_bundle_container">
    {% for offer in bundle %}
      <div class="flo_bundle_offer {% if forloop.first %}selected{% endif %}">
        {% comment %} {% if {{offer.bundle_image.src }} != blank %} {% endcomment %}
        <div class="bundle_img_container">
          {{ offer.bundle_image | image_url: width: 600 | image_tag: preload: true }}
        </div>
        {% comment %} {% endif %} {% endcomment %}
        <div class="bundle_text_container">
          <span class="flo_bundle_offer_title">
            {{ offer.bundle_offer_title }}
          </span>
          <p class="bundle_title">{{ offer.bundle_title }}</p>

          <div class="bundle_price_container">
            <p class="bundle_price_after">{{ offer.bundle_price.value | money }}</p>
            <p class="bundle_price_before">{{ offer.bundle_price_before.value | money }}</p>
          </div>

          <div class="bundle_offer_selectors">
            {% for product in offer.bundle_products.value %}
              {% assign quantity = product.variant_quantity | times: 1 %}
              {% for product_quantity in (1..quantity) %}
                <div class="flo_bundles_offer_selector">
                  <span class="custom_bundle_product_handle">
                    {{ product.product_title.value }}
                    {% if forloop.length > 1 %}{{ forloop.index }}{% endif %}
                  </span>

                  <select class="custom_select" name="id">
                    {% for variant in product.product_variants.value %}
                      <option
                        value="{{ variant.id }}"
                        {% unless variant.available %}
                          disabled
                        {% endunless %}
                      >
                        {{ variant.product.title }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="flo_bundles">
    {% for metaobject in bundle_1 %}
      {% assign quantity = metaobject.variant_quantity | times: 1 %}
      {% for product_quantity in (1..quantity) %}
        <div class="flo_bundles_offer_selector">
          <span class="custom_bundle_product_handle">
            {{ metaobject.product_title.value }}
            {% if forloop.length > 1 %}{{ forloop.index }}{% endif %}
          </span>

          <select class="custom_select" name="id">
            {% for variant in metaobject.product_variants.value %}
              <option
                value="{{ variant.id }}"
                {% unless variant.available %}
                  disabled
                {% endunless %}
              >
                {{ variant.product.title }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <div class="flo_btn_container">
    <button
      type="submit"
      id="add-bundle-button"
      class="btn btn--primary btn--solid btn--large btn--submit product__submit__add flo_atc_btn"
    >
      {{ 'products.product.add_to_cart' | t }}
    </button>
  </div>
</form>

{% style %}
  .flo_bundle_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .flo_bundle_offer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
  }

  .bundle_text_container {
    width: 100%;
  }

  .bundle_price_container {
    display: flex;
    gap: 10px;
  }

  .flo_bundles {
    display: flex;
    flex-direction: column;
  }

  .bundle_img_container {
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bundle_img_container img {
    width: 60px;
    height: 60px;
  }

  .flo_btn_container {
    padding: 10px 0;
    width: 100%;
  }

  .flo_atc_btn {
    width: 100%;
  }

  .flo_bundles_offer_selector {
    border: 2px solid #de9fc2;
    border-radius: 5px;
    background-color: #f7e2ed;
    margin-top: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .custom_select {
    line-height: 23px;
    position: static;
    opacity: 1;
    display: block;
    background-position: right 10px center !important;
    border-radius: 3px;
    border: 1px solid #000;
    font-size: 16px;
    float: left;
    width: 200px;
    min-height: 25px;
    height: 25px;
    padding: 0 25px 0 3px;
    margin: 0;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .custom_bundle_product_handle {
    font-size: 16px;
  }
{% endstyle %}
